.home_boton {
  font-size: 1.5rem !important;
}

.home_intro_button {
  background: $color-primario !important;
  border-radius: 50px;
  padding: 3%;
  box-sizing: border-box;
  color: #FFF;
  font-size: 1.5rem;
  margin-top: 10%;
  text-decoration: none;
  &:hover{
    color: black;
    text-decoration: none;
  }
}

.boton-compra{
background: radial-gradient(circle, rgba(28,48,128,1) 0%, rgba(146,23,104,1) 100%) !important;
margin-bottom:3%;
color: white !important;
}

.login-user {
  background: radial-gradient(circle, rgba(28,48,128,1) 0%, rgba(146,23,104,1) 100%) !important;
  color: white !important;
}

.input_form {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color:  #db1ec2;
  border-color:  #db1ec2; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #9f1edb;
  border-color:  #9f1edb; }

  .borrar-servicio {
    background-color:#db1ec2;;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cantidad-servicio {
  display:none;
  background-color:#db1ec2;;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.carrito_hidden {
  display: none;
}