.nav {
    background-color: whitesmoke;

}

.header_home {
    height: 90vh;
    background-image: url('../images/homeintro.jpg');

    text-align: center;
    align-items: center;
    justify-content: center;

}

.header_nav-links {
    font-size: 2rem;
}

.header_nav-shop {
    border-color: black !important;
    &:hover {
        background-color: rgb(213, 74, 248) !important;
    }
}



ul {
    list-style: none;
}
.submenu {
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 100vh;
    min-width: 300px;
}