.nav {
    background-color: whitesmoke;

}

.header_home {
    height: 90vh;
    background-image: url('../images/homeintro.jpg');

    text-align: center;
    align-items: center;
    justify-content: center;

}

.header_nav-links {
    font-size: 2rem;
}

.header_nav-shop {
    border-color: black !important;
    &:hover {
        background-color: rgb(213, 74, 248) !important;
    }
}

