.nav {
    background-color: white;

}

/* .header_home {
    height: 90vh;
    background-image: url('../images/homeintro.jpg');

    text-align: center;
    align-items: center;
    justify-content: center;

} */


.icon-user {
padding: 3%;
}

.header_nav-links {
    font-size: 2rem;
}

.header_nav-shop {
    border: 1px solid black !important;
    border-radius: 5px 5px 5px 5px;
    background-color: white !important;
    
    width: 40px;
    &:hover {
        background-color: $color-primario !important;
    }
}


ul {
    list-style: none;
}



.submenu #carrito{
    display: none;
    position: absolute;
    right:0;
    top:10;
    width: 25%;
    

    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 90vh;
    min-width: 450px;
}


.u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
.tablas {
    height: 30px;
}

.muestra-total{
    text-align: center;
}