

#lista-cursos .row {
    margin-bottom:20px;
}

.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

/* 
////Hacer una variable para el estilo de la caja

.home_pricing-web {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #0c0758;
    background-color: rgb(101, 137, 238);
    margin-bottom: 2%;
}

.home_pricing-branding {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #0c0758;
    background-color: rgb(101, 137, 238);
    margin-bottom: 2%;
}

.home_pricing-comunicacion {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #0c0758;
    background-color: rgb(101, 137, 238);
    margin-bottom: 2%;
}

 */