@import "variables";
@import "header";
@import "footer";
@import "typography";
@import "home";

@import "componentes";



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
}

.card {
    background-color: white !important;
    margin-top: 3% !important;
    border-radius: 5px 5px 5px 5px !important;

}

.card-clone {
    position: fixed;
    z-index: 9999;
    background-color: #db1ec2 !important;
    margin-top: 3% !important;
    border-radius: 5px 5px 5px 5px !important;
  }

#grilla_servicios {
    margin: 1% !important;
  
}


.body-general {
    background: radial-gradient(circle, rgba(28,48,128,1) 0%, rgba(146,23,104,1) 100%) !important;
}



