@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav {
  background-color: white;
}

/* .header_home {
    height: 90vh;
    background-image: url('../images/homeintro.jpg');

    text-align: center;
    align-items: center;
    justify-content: center;

} */
.icon-user {
  padding: 3%;
}

.header_nav-links {
  font-size: 2rem;
}

.header_nav-shop {
  border: 1px solid black !important;
  border-radius: 5px 5px 5px 5px;
  background-color: white !important;
  width: 40px;
}

.header_nav-shop:hover {
  background-color: #db1ec2 !important;
}

ul {
  list-style: none;
}

.submenu #carrito {
  display: none;
  position: absolute;
  right: 0;
  top: 10;
  width: 25%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 90vh;
  min-width: 450px;
}

.u-full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.tablas {
  height: 30px;
}

.muestra-total {
  text-align: center;
}

/* footer {
    background-color:rgba(28,48,128,1) !important;
} */
.footer_li {
  font-size: 1.5rem;
}

.btn-flotante {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: .5rem 2rem;
  background-color: #a775d6;
  -webkit-box-shadow: 0px 6px 32px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 32px -10px rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.text-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem !important;
  color: #9dd0e7 !important;
}

.enlaces_footer {
  color: #d3aed0;
}

.enlaces_footer:hover {
  color: white !important;
}

nav {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem !important;
  font-weight: bold !important;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem !important;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem !important;
  margin-right: 1%;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem !important;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem !important;
}

.home-text {
  color: white !important;
}

.home_title_subtitle {
  color: white !important;
}

#lista-cursos .row {
  margin-bottom: 20px;
}

.info-card {
  padding: 10px 20px;
}

.info-card p,
.card h4 {
  margin-bottom: 5px;
}

.info-card .precio {
  text-decoration: line-through;
  font-size: 18px;
  margin-top: 10px;
}

.info-card .precio span {
  font-weight: 700;
  font-size: 22px;
}

.card-text {
  text-align: right;
}

.formulario_hidden {
  display: none;
}

/* .home_description {
    height:90vh;
} */
.home_intro {
  padding-top: 5%;
  padding-bottom: 15%;
}

.shape_index_circle {
  background-color: whitesmoke;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 800;
  z-index: -1;
  opacity: 0.1;
}

.shape_index_circle--active {
  -webkit-animation-name: circleAnimation;
          animation-name: circleAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: initial;
          animation-timing-function: initial;
  border-radius: 300px;
  opacity: 0.07;
}

@-webkit-keyframes circleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(1000px);
            transform: translate(1000px);
  }
  100% {
    opacity: 0.07;
    -webkit-transform: translate(0%);
            transform: translate(0%);
    border-radius: 300px;
  }
}

@keyframes circleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(1000px);
            transform: translate(1000px);
  }
  100% {
    opacity: 0.07;
    -webkit-transform: translate(0%);
            transform: translate(0%);
    border-radius: 300px;
  }
}

.home_screen {
  z-index: -1;
  padding-top: 5%;
  padding-bottom: 15%;
}

.home_screen--active {
  -webkit-animation-name: screenAnimation;
          animation-name: screenAnimation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: initial;
          animation-timing-function: initial;
}

@-webkit-keyframes screenAnimation {
  0% {
    opacity: 0.05;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: translate(60%);
            transform: translate(60%);
  }
  100% {
    opacity: 0.7;
    /*      transform: translate(50%); */
  }
}

@keyframes screenAnimation {
  0% {
    opacity: 0.05;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: translate(60%);
            transform: translate(60%);
  }
  100% {
    opacity: 0.7;
    /*      transform: translate(50%); */
  }
}

@media (max-width: 540px) {
  .shape_index_circle {
    width: 300px;
    height: 300px;
  }
  .home_intro {
    padding-top: 15%;
  }
  .home_screen {
    padding-top: 15%;
  }
}

.home_title {
  -webkit-transform: translate(0px, -200px);
          transform: translate(0px, -200px);
  color: white;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.home_title--active {
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
}

.home_title_subtitle {
  -webkit-transform: translate(0px, -200px);
          transform: translate(0px, -200px);
  color: white;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.home_title_subtitle--active {
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
}

.home_boton {
  font-size: 1.5rem !important;
}

.home_intro_button {
  background: #db1ec2 !important;
  border-radius: 50px;
  padding: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
  font-size: 1.5rem;
  margin-top: 10%;
  text-decoration: none;
}

.home_intro_button:hover {
  color: black;
  text-decoration: none;
}

.boton-compra {
  background: radial-gradient(circle, #1c3080 0%, #921768 100%) !important;
  margin-bottom: 3%;
  color: white !important;
}

.login-user {
  background: radial-gradient(circle, #1c3080 0%, #921768 100%) !important;
  color: white !important;
}

.input_form {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #db1ec2;
  border-color: #db1ec2;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #9f1edb;
  border-color: #9f1edb;
}

.borrar-servicio {
  background-color: #db1ec2;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.cantidad-servicio {
  display: none;
  background-color: #db1ec2;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.card {
  background-color: white !important;
  margin-top: 3% !important;
  border-radius: 5px 5px 5px 5px !important;
}

.card-clone {
  position: fixed;
  z-index: 9999;
  background-color: #db1ec2 !important;
  margin-top: 3% !important;
  border-radius: 5px 5px 5px 5px !important;
}

#grilla_servicios {
  margin: 1% !important;
}

.body-general {
  background: radial-gradient(circle, #1c3080 0%, #921768 100%) !important;
}
/*# sourceMappingURL=style.css.map */