@import "header";
@import "footer";
@import "typography";
@import "variables";

/* @import "componentes"; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
}








