@import "header";
@import "footer";

/* @import "variables";
@import "typography";
@import "componentes"; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    background-color: aqua;
}








